---
layout: page
sidebar_link: false
---

<div id="Intro" class="about-section">

<!-- <img src="/assets/images/photo-3-800.jpg" class="header-image"/> -->
<p>Hi, my name’s Marc and I'm the founder of <a href="https://listium.com">Listium</a>.</p>
<p>My early career was in banking and funds management before my interest moved to the startup world.</p>
<p>I have been an advisor or director to multiple startups where I have helped with funding, M&A, culture, recruitment, strategy, analytics, executive coaching, product and design, amongst other things.</p>
<p>I love to learn new things and improve myself, and I do this through a lot of <a href="/reading">reading</a>. I'm also known for trying lots of hobbies based on watching a few too many YouTube videos.</p>

<div id="Interests" class="about-section">
  <h2 class="about-category">Interests</h2>
  <ul class="about-list">
    <li>AI</li>
    <li>Oil painting</li>
    <li>Video and board games</li>
    <li>Richmond Football Club (AFL)</li>
    <li>Our dog, Daisy</li>
    <li>Aquascaping & aquariums</li>
    <li>Occasional fly-fisherman</li>
    <li>Very average guitar and bass player</li>
    <li>VR / Oculus Quest</li>
    <li>(Retired?) kitesurfer and standup paddlesufer</li>
  </ul>
</div>

<div id="Beliefs" class="about-section">
  <h2 class="about-category">Beliefs</h2>
  <ul class="about-list">
    <li>I'm a <strong>left/progressive voter</strong> due to right wing policies that are increasingly divisive and self-serving.</li>
    <li>I would love to see a <strong>Univeral Basic Income</strong> become a key tool in the fairer distribution of wealth.</li>
    <li>I'm an <strong>athiest</strong> and I believe that religion is partly responsible for the dangerous rise of beliefs being allowed to trump science (eg. climate, anti-vaxxers, etc) in the eyes of many.</li>
    <li>I read a lot about <strong>behavioural biases</strong> in order to understand myself and improve my decision making.</li>
    <li>I am borderline obsessive about <strong>truth and honesty</strong> in my personal and professional life.</li>
    <li>I believe that <strong>psychedelics</strong> have huge potential to help treat depression, anxiety and PTSD, and we need to put science ahead of politics and increase research into this exciting field.</li>
  </ul>
</div>

<div id="Work" class="about-section">
  <h2 class="about-category">Work</h2>
  <div class="about-block">
    <h3 class="about-organisation">Listium</h3>
    <div class="about-role-block">
      <div class="about-role">Founder</div>
      <div class="about-dates">Current</div>
    </div>
    <ul class="about-description-block">
      <li>Doing everything except writing code.</li>
      <li>But I also write some code.</li>
    </ul>
  </div>

  <div class="about-divider"></div>

  <div class="about-block">
    <h3 class="about-organisation">Various</h3>
    <div class="about-role-block">
      <div class="about-role">Startup Adviser</div>
      <div class="about-dates">Current</div>
    </div>
    <ul class="about-description-block">
      <li>Advice on all things related to startups, including strategy, finance, pitching and capital raising.</li>
    </ul>
  </div>

  <div class="about-divider"></div>

  <div class="about-block">
    <h3 class="about-organisation">Venuemob</h3>
    <div class="about-role-block">
      <div class="about-role">Executive Director</div>
      <div class="about-dates">2018 - 2019</div>
    </div>
    <ul class="about-description-block">
      <li>Assisted in day-to-day operations including finance, analytics, HR, strategy, and ultimately helped negotiate the sale of the business in late 2019.</li>
    </ul>
    <div class="about-role-block">
      <div class="about-role">Non-Executive Director</div>
      <div class="about-dates">2013 - 2018</div>
    </div>
    <ul class="about-description-block">
      <li>Member of a three person board, covering all areas including finance, strategy and compliance.</li>
    </ul>
  </div>

  <div class="about-divider"></div>

  <div class="about-block">
    <h3 class="about-organisation">Self-Employed</h3>
    <div class="about-role-block">
      <div class="about-role">Small Business Consultant</div>
      <div class="about-dates">2006 - 2013</div>
    </div>
    <ul class="about-description-block">
      <li>Worked with small business owners in a range of areas including including finance, strategy, marketing and HR</li>
    </ul>
  </div>

  <div class="about-divider"></div>

  <div class="about-block">
    <h3 class="about-organisation">Goldman Sachs JBWere Asset Management</h3>
    <div class="about-role-block">
      <div class="about-role">Executive Director; Partner</div>
      <div class="about-dates">2005 - 2006</div>
    </div>
    <ul class="about-description-block">
      <li>Worked with the Managing Director on a range of projects across all parts of the business.</li>
    </ul>
    <div class="about-role-block">
      <div class="about-role">Head of Equities; Partner</div>
      <div class="about-dates">1997 - 2005</div>
    </div>
    <ul class="about-description-block">
      <li>Led a team of analysts, portfolio managers and dealers managing Australian Equity portfolios.</li>
      <li>Activities included company and industry research, portfolio management, marketing and product management.</li>
      <li>Member of GSJBWere Group Partnership Committee and the FSC Investment Board Committee (industry body)</li>
      <li style="list-style-type: none; margin-top: 1rem;"><h5>Achievements</h5></li>
      <li>Above average long-term investment performance across all portfolios and substantial growth in funds under management </li>
      <li>2002 Australian Equities Fund Manager of the Year</li>
    </ul>
    <div class="about-role-block">
      <div class="about-role">Portfolio Manager</div>
      <div class="about-dates">1994 - 1997</div>
    </div>
    <ul class="about-description-block">
      <li>Activities included company and industry research, company valuation, portfolio management and marketing.</li>
    </ul>
  </div>

  <div class="about-divider"></div>

  <div class="about-block">
    <h3 class="about-organisation">ANZ Bank</h3>
    <div class="about-role-block">
      <div class="about-role">Commercial Banking Officer</div>
      <div class="about-dates">1991 - 1994</div>
    </div>
    <ul class="about-description-block">
      <li>Assisted in the management of a portfolio of commercial banking clients.  Activities included credit and risk analysis and company research.</li>
    </ul>
  </div>
</div>

<div id="Education" class="about-section">

  <h2 class="about-category">Education</h2>
  <div class="about-block">
    <h3 class="about-organisation">Monash University</h3>
    <div class="about-degree">Bachelor of Business - Banking &amp; Finance</div>
  </div>

  <div class="about-divider"></div>

  <div class="about-block">
    <h3 class="about-organisation">Securities Institute of Australia</h3>
    <div class="about-degree">Graduate Diploma - Applied Finance &amp; Investment</div>
  </div>

  <div class="about-divider"></div>

  <div class="about-block">
    <h3 class="about-organisation">Melbourne Business School</h3>
    <div class="about-degree">Accelerated Management Program</div>
  </div>

  <div class="about-divider"></div>

  <div class="about-block">
    <h3 class="about-organisation">Harvard Business School &amp; CFA Institute</h3>
    <div class="about-degree">Investment Management Workshop</div>
  </div>

</div>




<!-- {% for post in site.posts limit:1 %}
<h1>{{ post.title }}</h1>
<p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>
<div>{{ post.content }}</div>
{% endfor %}

<ul>
  {% for post in site.posts offset:1 %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul> -->