<h4>Pages</h4>
<a href="/">About Me</a>
<a href="/gallery">Gallery</a>
<a href="/reading">Reading</a>
<a href="/quotes">Quotes</a>
<hr class="gradient_divider">
<h4>Links : Me</h4>
<a href="https://au.linkedin.com/in/marcharrison">LinkedIn</a>
<a href="https://angel.co/u/marcharrison">AngelList</a>
<a href="https://twitter.com/marcharrison">Twitter</a>
<a href="https://reddit.com/u/harro33">Reddit</a>
<hr class="gradient_divider">
<h4>Links : Listium</h4>
<a href="https://listium.com">Homepage</a>
<a href="https://blog.listium.com">Blog</a>
<a href="https://medium.com/listium-investor-updates">Investor Updates</a>
<a href="https://au.linkedin.com/company/listium">LinkedIn</a>
<a href="https://angel.co/company/listium">AngelList</a>
<a href="https://www.crunchbase.com/organization/listium">Crunchbase</a>
<a href="https://www.facebook.com/listium/">Facebook</a>
<a href="https://twitter.com/listium">Twitter</a>
<br />
