<!-- <a href="/about">About</a> -->
<a href="/">Home</a>
<a href="/ai">AI</a>
<a href="/reading">Reading</a>
<a href="/quotes">Quotes</a>
<a href="/gallery">Gallery</a>
<a href="/posts">Archived Posts</a>
<a href="/contact">Contact</a>
<hr class="gradient_divider">
<h3>Links : Marc</h3>
<a href="https://au.linkedin.com/in/marcharrison">LinkedIn</a>
<!-- <a href="https://angel.co/u/marcharrison">AngelList</a> -->
<a href="https://twitter.com/marcharrison">Twitter</a>
<!-- <a href="https://reddit.com/u/harro33">Reddit</a> -->
<hr class="gradient_divider">
<h3>Links : Listium</h3>
<a href="https://listium.com">Homepage</a>
<!-- <a href="https://blog.listium.com">Blog</a> -->
<a href="https://au.linkedin.com/company/listium">LinkedIn</a>
<!-- <a href="https://angel.co/company/listium">AngelList</a> -->
<a href="https://www.crunchbase.com/organization/listium">Crunchbase</a>
<a href="https://www.facebook.com/listium/">Facebook</a>
<a href="https://twitter.com/listium">Twitter</a>
<br />
